{% extends parent_template|default:"base.html" %}

{% block title %}
{{ block.super }} - About
{% endblock %}

{% block content %}
<div class="col-md-8">
    <section>
        <article>
            <h2 class="blog-about-h2">
                About
            </h2>
            <p>
                This site created based on book "Django unleashed" author<br> Andrew Pinkham.
            </p>
            <p>For styling using <a href="https://getbootstrap.com/">Bootstrap Tweeter</a>.</p>
        </article>
    </section>
</div>
{% endblock %}