<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
    <div class="sidebar-module sidebar-module-inset">
        <h4>About</h4>
        <p>My name is <em>Dmitry</em>.
            I am web developer.
            I like Python with Django framework and
            PHP with Laravel framework.
        </p>
    </div>
    <div class="sidebar-module">
        <h4>Archives</h4>
        <ol class="list-unstyled">
            <li><a href="#">March 2016</a></li>
            <li><a href="#">February 2016</a></li>
            <li><a href="#">January 2016</a></li>
            <li><a href="#">December 2017</a></li>
            <li><a href="#">November 2017</a></li>
            <li><a href="#">October 2017</a></li>
            <li><a href="#">September 2017</a></li>
            <li><a href="#">August 2017</a></li>
        </ol>
    </div>
    <div class="sidebar-module">
        <h4>Elsewhere</h4>
        <ol class="list-unstyled">
            <li><a href="https://github.com/">GitHub</a></li>
            <li><a href="https://twitter.com/">Twitter</a></li>
            <li><a href="https://facebook.com">Facebook</a></li>
        </ol>
    </div>
</div><!-- /.blog-sidebar -->