{% load staticfiles %}
<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">
            <img class="blog-nav-img" src="{% static 'img/logo.png' %}" alt="Logo">
            <a class="blog-nav-item active" href="/">Home</a>
            <a class="blog-nav-item" href="{% url 'blog_post_list' %}">Blog</a>
            <a class="blog-nav-item" href="{% url 'organizer_startup_list' %}">Startups</a>
            <a class="blog-nav-item" href="{% url 'organizer_tag_list' %}">Tags</a>
            <a class="blog-nav-item" href="{% url 'contact' %}">Contact</a>
            <a class="blog-nav-item" href="{% url 'about_site' %}">About</a>
        </nav>
    </div>
</div>
