<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
    <div class="sidebar-module sidebar-module-inset">
        <h4>About</h4>
        <p>My name is <em>Dmitry</em>.
            I am web developer.
            I like Python with Django framework and
            PHP with Laravel framework.
        </p>
    </div>
    <div class="sidebar-module">
        <h4>Elsewhere</h4>
        <ol class="list-unstyled">
            <li><a href="https://github.com/">GitHub</a></li>
            <li><a href="https://twitter.com/">Twitter</a></li>
            <li><a href="https://facebook.com">Facebook</a></li>
        </ol>
    </div>
</div>