/*
 * Globals
 */
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=PT+Serif');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  color: #555;
  /* Margin bottom by footer height */
  margin-bottom: 97px;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "PT Serif", serif;
  font-weight: normal;
  color: #333;
}


/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

.btn > a {
  text-decoration: none;
}
/*
 * Masthead for nav
 */

.blog-masthead {
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  font-family: 'Playfair Display', serif;
  font-stretch: expanded;
  padding: 10px;
  font-weight: 600;
  color: #cdddeb;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #fff;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #fff;
}

.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}

/* Nav logo image */
.blog-nav-img {
   height: 36px;
   margin-right: 16px;
   padding-bottom: 6px;
}

/*
 * Blog name and description
 */

.blog-header {
  padding-top: 20px;
  padding-bottom: 0px;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 60px;
  font-weight: normal;
}
.blog-description {
  font-size: 20px;
  color: #999;
  margin-bottom: 6px;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  margin-top: 198px;
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}


/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}


/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}

.blog-post-detail-title {
    margin-top: 40px;
}

/*
 * Footer
 */

.blog-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 26px 0;
  color: #999;
  text-align: left;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p {
    margin-left: 25%;
    margin-bottom: 4px;
}

.blog-footer p:last-child {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 27.4%;
    padding: 0;
}

/* Form
*/
.contact-form {
    margin-top: 30px;
}

/*
* Input for form
*/
.form-control > input {
 margin: 0;
 padding: 0;
 width: 100%;
 border: none;
}

/* post-form-update
*/
.blog-post-form-update {
    margin-top: 40px;
}


/* blog-button-margin
*/
.blog-btn-add-article {
    margin-bottom: 24px;
    margin-left: 16px;
}

.blog-btn-add-article > .btn.btn-info > a {
    color: #FFEDE5;
    font-weight: 600;
}

/* Tag list h2 margin-bottom */
.blog-tags-title
{
    margin-top: 40px;
    margin-bottom: 18px;
    font-size: 38px;
}

.blog-tag-edit-delete {
    margin-bottom: 20px;
}

.blog-tag-edit-delete li {
    display: inline-block;
}

.blog-tag-edit-delete li:first-child {
    margin-left: -40px;
    margin-right: 6px;
}

.blog-tag-update {
    margin-top: 30px;
}

/* post_list.html */
.blog-post-edit-btn,
.blog-post-delete-btn
{
     display: inline-block;
     margin-right: 10px;
}
.blog-post-edit-btn {
  background-color: #84838C;
}
.blog-post-edit-btn > a,
.blog-post-delete-btn > a {
  color: #fff;
}

.blog-post-list-h2 {
    margin-top: 64px;
}

/* post_detail.html */
.blog-button-edit-post
{
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 12px;
    padding: 2px;
}

.blog-button-edit-post > .btn.btn-primary > a {
    color: #fff;
}

.blog-button-delete-post
{
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 12px;
    margin-left: 6px;
}

/* post_confirm_delete.html */
.blog-btns-cancel-delete {
    display: block;
    margin-top: 24px;
}

.blog-btns-cancel-delete .btn.btn-info {
    margin-right: 12px;
}

.blog-btns-cancel-delete .btn.btn-info a {
  color: #fff;
}

.blog-btns-cancel-delete .btn.btn-warning {
  color: #428bca;
}

.blog-btn-new-blog {
    margin-top: 20px;
}

.blog-btn-new-blog > .btn.btn-info > a {
    color: #fff;
    font-weight: 600;
}
/* Startup-detail */
.blog-startup-edit-delete {
    margin-bottom: 0px;
}

.blog-startup-edit-delete li {
    display: inline-block;
}

.blog-startup-edit-delete li:first-child {
    margin-left: -40px;
    margin-right: 6px;
}

.blog-startup-dl dt {
    margin-top: 16px;
}

/* link-edit-delete */
.blog-link-edit-delete {
    list-style: none;
    margin-left: -40px;
}

.blog-link-edit-delete li {
    display: inline-block;
    margin-right: 12px;
}

.blog-message {
    list-style: none;

}

.blog-message li {
    margin-left: -24px;
}

.blog-message li span.label {
    font-size: 1.6rem;
    padding: 6px;
}

.btn.btn-info > a {
    color: #fff;
    font-weight: 500;
}
/* startup_list.html */
.blog-startup-title {
    margin-top: 40px;
    margin-bottom: 18px;
    font-size: 38px;
}
.list-group-item a {
  text-decoration: none;
  display: inline-block;
}
.list-group-item a:hover {
  color: #6B1745;
}
.list-group-item:nth-child(2n+1) {
  background-color: #E1EEFF;
}
.blog-startup-update {
    margin-top: 40px;
}

.blog-newslink-delete-confirm,
.blog-post-delete-confirm,
.blog-startup-delete-confirm,
.blog-tag-delete-confirm {
    margin-top: 70px;
}

.blog-newslink-delete-confirm-label,
.blog-post-delete-confirm-label,
.blog-startup-delete-confirm-label,
.blog-tag-delete-confirm-label {
    display: inline-block;
    padding: .6em;
    font-size: 2.0rem;
    line-height: 1.0;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    margin-bottom: 24px;
}
