{% extends parent_template|default:"organizer/base_organizer.html" %}

{% block title %}
{{ block.super }} - Delete News Link
{% endblock %}

{% block content %}
<div class="blog-newslink-delete-confirm">
<form action="{{ newslink.get_delete_url }}" method="post">
    {% csrf_token %}
        <div class="blog-newslink-delete-confirm-label">
                Are you sure, you want to delete link
                to article {{ newslink.name }}?
        </div>
        <div class="blog-btns-cancel-delete">
            <button type="button" class="btn btn-info">
                <a href="{{ newslink.get_absolute_url }}">Cancel</a>
            </button>
            <button type="submit" class="btn btn-warning">
                Delete Article Link
            </button>
        </div>
</form>
</div>
{% endblock %}
