{% extends parent_template|default:"organizer/base_organizer.html" %}

{% block title %}
{{ block.super }} - Link News Article to Startup
{% endblock %}

{% block content %}
<form action="{% url 'organizer_newslink_create' %}" method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="input-group">
            <span class="input-group-addon">{{ field.label_tag }}</span>
            <div class="form-control">{{ field }}</div>
            {% if field.help_text %}
                <span class="input-group-addon">{{ field.help_text }}</span>
            {% endif %}
        </div>
        <br>
        {% if field.error %}
            <div class="alert alert-danger">
                {{ field.error }}
            </div>
        {% endif %}
        <br>
    {% endfor %}
    <div class="row">
        <div class="col-md-offset-9 col-md-3">
            <button type="button" class="btn btn-primary">
                Link Article
            </button>
        </div>
    </div>
</form>
{% endblock %}
