{% extends parent_template|default:"organizer/base_organizer.html" %}

{% block title %}
{{ block.super }} - Update News Article
{% endblock %}

{% block content %}
<div class="blog-newslink-form-update">
<form action="{{ newslink.get_update_url }}" method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="input-group">
            <span class="input-group-addon">{{ field.label_tag }}</span>
            <div class="form-control">{{ field }}</div>
            {% if field.help_text %}
                <span class="input-group-addon">{{ field.help_text }}</span>
            {% endif %}
        </div>
        <br>
        {% if field.errors %}
            <div class="alert alert-danger">
                {{ field.errors }}
            </div>
        {% endif %}
        <br>
    {% endfor %}
    <div class="row">
        <div class="col-md-offset-9 col-md-3">
            <button type="submit" class="btn btn-primary">
                Update Article Link
            </button>
        </div>
    </div>
</form>
</div>
{% endblock %}
