{% extends parent_template|default:"organizer/base_organizer.html" %}

{% block title %}
{{ block.super }} - Delete Tag
{% endblock %}

{% block content %}
<div class="blog-startup-delete-confirm">
    <form action="{{ startup.get_delete_url }}" method="post">
        {% csrf_token %}

        <div class="blog-startup-delete-confirm-label label-danger">
                Are you sure, you want to delete startup {{ startup.name }}?
        </div>
            <div class="blog-btns-cancel-delete">
                    <button type="button" class="btn btn-info">
                        <a href="{{ startup.get_absolute_url }}">Cancel</a>
                    </button>
                    <button type="submit" class="btn btn-warning">
                        Delete Startup
                    </button>
            </div>
    </form>
</div>
{% endblock %}
