{% extends parent_template|default:"organizer/base_organizer.html" %}

{% block title %}
{{ block.super }} - Update Startup
{% endblock %}

{% block content %}
<div class="blog-startup-update">
    <form action="{{ startup.get_update_url }}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
            <div class="blog-startup-update-btn">
                <button type="submit" class="btn btn-primary">
                    Update Startup
                </button>
            </div>
    </form>
</div>
{% endblock %}
