{% extends parent_template|default:"organizer/base_organizer.html" %}
{% load staticfiles %}

{% block title %}
{{ block.super }} - Startup
{% endblock %}

{% block content %}
<h2>Startup List</h2>
<ul class="list-group">
    {% for startup in startup_list %}
    <li class="list-group-item">
        <a href="{{ startup.get_absolute_url }}">
            {{ startup.name }}
        </a>
        <a href="{{ startup.get_update_url }}">
            <span class="label label-info">Edit Startup</span>
        </a>
        <a href="{{ startup.get_delete_url }}">
            <span class="label label-danger">Delete Startup</span>
        </a>
    </li>
    {% empty %}
    <li class="list-group-item">
        <em>No Startups Available</em>
    </li>
    {% endfor %}
</ul>
<div class="blog-btn-margin">
    <button class="btn btn-info">
        <a href="{% url 'organizer_startup_create' %}">
            Create New Startup
        </a>
    </button>
</div>
{% if is_paginated %}
    <nav class="blog-pagination">
        <ul>
            {% if startup_list.has_previous %}
                <li>
                    <a class="btn btn-outline-primary"
                       href="?page={{ startup_list.previous_page_number }}">
                        Previous
                    </a>
                </li>
            {% endif %}
            <li>
                Page {{ startup_list.number }}
                of {{ paginator.num_pages }}
            </li>
            {% if startup_list.has_next %}
                <li>
                    <a class="btn btn-outline-secondary"
                       href="?page={{ startup_list.next_page_number }}">
                        Next
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
{% endblock content %}