{% extends parent_template|default:"organizer/base_organizer.html" %}
{% load staticfiles %}

{% block title %}
{{ block.super }} - Startup
{% endblock %}

{% block content %}
<h2>Startup List</h2>
<ul class="list-group">
    {% for startup in startup_list %}
    <li class="list-group-item">
        <a href="{{ startup.get_absolute_url }}">
            {{ startup.name }}
        </a>
        <a href="{{ startup.get_update_url }}">
            <span class="label label-info">Edit Startup</span>
        </a>
        <a href="{{ startup.get_delete_url }}">
            <span class="label label-danger">Delete Startup</span>
        </a>
    </li>
    {% empty %}
    <li class="list-group-item">
        <em>No Startups Available</em>
    </li>
    {% endfor %}
</ul>
<div class="blog-btn-margin">
    <button class="btn btn-info">
        <a href="{% url 'organizer_startup_create' %}">
            Create New Startup
        </a>
    </button>
</div>
<nav class="blog-pagination">
    {% if startup_list.has_previous %}
    <li>
        <a class="btn btn-outline-primary" href="">
            Previous
        </a>
    </li>
    {% endif %}
    <li>
        Page {{ startup_list.number }}
        of {{ paginator.num_pages }}
    </li>
    <li>
        <a class="btn btn-outline-secondary disabled" href="#">
            Newer
        </a>
    </li>
</nav>
{% endblock content %}