{% extends parent_template|default:"organizer/base_organizer.html" %}

{% block title %}
{{ block.super }} - Update Startup
{% endblock %}

{% block content %}
<div class="blog-startup-update">
    <form action="{{ startup.get_update_url }}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="row">
            <div class="col-md-offset-9 col-md-3">
                <button type="submit" class="btn btn-primary">
                    Update Startup
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
