{% extends parent_template|default:"organizer/base_organizer.html" %}

{% block title %}
{{ block.super }} - Create Tag
{% endblock %}

{% block content %}
<form action="{% url 'organizer_tag_create' %}" method="post">
    {% csrf_token %}
    <div class="input-group">
            <span class="input-group-addon" id="id_name">Name:</span>
            <div class="form-control">
                {{ form.name }}
            </div>
    </div>
    <br/>
    <div class="input-group">
        <span class="input-group-addon" id="id_slug">Slug:</span>
        <div class="form-control">
            {{ form.slug }}
        </div>
        <span class="input-group-addon">A label for URL config</span>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-3 col-md-offset-9">
            <button type="button" class="btn btn-primary">
                Create Tag
            </button>
        </div>
    </div>
    <br/>
    <div class="alert alert-danger">
        {{ form.non_field_errors }}
        {{ form.name.errors }}
        {{ form.slug.errors }}
    </div>
</form>
{% endblock %}
